#metodos-contacto{
    display: flex;
    flex-wrap: wrap;
}

.forma-contacto{
    display: flex;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: azure;
    min-width: 300px;
    flex-grow: 1;
}

.forma-contacto:hover{
    background-color: rgb(192, 252, 252);
}

.imagen-contacto{
    max-height: 64px;
    margin-right: 15px;

}

#mapa{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 256px;
}

#ubicacion{
    display: flex;
    align-items: center;
    width: 100%;
}